.contentHome {
  align-self: center;
}

.containerHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.titulo {
  font-weight: 700;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.modulo {
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #3f51b5;
  color: white;
  margin-bottom: 10px;
}

.column + .column {
  margin-left: 10px;
}

.modulo mat-card-content h2 {
  color: white;
  align-self: center;
}
