<div class="containerHome">
  <div class="contentHome">
    <h1 class="titulo">Liquidador de precios</h1>
    <div class="row">
      <div class="column">
        <a routerLink="registrarContratista/">
          <mat-card class="modulo">
            <mat-card-content>
              <h2>Registrar contratista</h2>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="column">
        <a routerLink="contratistas/">
          <mat-card class="modulo">
            <mat-card-content>
              <h2>Contratistas</h2>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-card class="modulo">
          <mat-card-content>
            <h2>Liquidar servicios</h2>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="column">
        <a routerLink="pioneroActualizar/"> <!-- N -->
          <mat-card class="modulo">
            <mat-card-content>
              <h2>Actualizar pioneros</h2>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</div>
