<div class="container" style="padding-top: 10px;">
    <h1 class="titulo">Actualizar pionero</h1>
</div>
<div class="containerC">
    <div class="container">
        <h2>
            Carge un archivo CSV con la información correspondiente para actualizar a uno o varios contratistas pioneros.
        </h2>
    </div>
    <div class="container">
        <input type="file" class="upload" (change)="changeListener($event.target.files)">
    </div>
    <div class="container" style="padding-block: 10px;">
        <button mat-raised-button color="primary" (click)="loadFile()">Continuar</button>
    </div>
</div>