<div class="container" style="padding-top: 15px;">
    <h1 class="titulo">Actualizar pionero</h1>
</div>
<div class="containerC">
    <div class="container">
        <h2>
            Carge un archivo CSV con la información correspondiente para actualizar a uno o varios contratistas pioneros.
        </h2>
    </div>
    <div class="container">
        <input type="file" class="upload" (change)="changeListener($event.target.files)">
    </div>
    <div class="container" style="padding-block: 10px;">
        <button mat-raised-button color="primary" (click)="loadFile()">Cargar</button>
    </div>
    <div *ngIf="act.length > 0" class="container" >
        <table>
            <thead>
              <tr>           
                <th>idConcepto</th>
                <th>Precio</th>
                <th>Vigencia</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pionero of act">           
                <td>{{ pionero.idConcepto }}</td>
                <td>{{ pionero.precio}}</td>
                <td>{{ pionero.vigencia }}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div *ngIf="act.length > 0" class="container" style="padding-block: 10px;">
        <button mat-raised-button color="primary" (click)="actualizar()">Actualizar datos</button>
    </div>
</div>